@import "tailwindcss";




body {
  font-family: Arial, Helvetica, sans-serif;
}


.text_area_message_typing::-webkit-scrollbar{
  width: 3px;
  background-color: rgba(49, 47, 50, 0.42);
}


.text_area_message_typing::-webkit-scrollbar-thumb{
  background-color: rgb(105, 48, 148);
}
